
.header img{
display: block;

}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("hypnotize_bg.png");
}
h1{
    font-family: 'Redressed', cursive;
}

.header {
    background-color: royalblue;
    text-align: center;
}

.about-me {
    font-size: 20px;
    opacity: 70%;
}

.title {
    font-weight: bold;
}

h1 {
    color: azure;
}

.container {
    width: 800px;
    margin: 0 auto;
}

